@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the list */
header {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  padding: 30px 40px;
  color: white;
  text-align: center;
}
.todo {
  display: flex;
  column-gap: 1rem;
}

form {
  flex: 2;
}
h1 {
  font-family: "Acme", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-align: center;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  &:checked li {
    background-color: tomato;
  }
}

input {
  margin-right: 0;
  padding: 10px;
  border: none;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  display: inline-block;
  width: 100%;
}

.todo-form__search {
  flex: 1;
}

nav.nav-btn {
  display: flex;
  column-gap: 10px;
  flex: 1;
}
.todo-form__add-btn,
.todo-form__del-btn,
.todo-form__done-btn {
  padding: 10px;
  margin-left: 0;
  background: rgba(131, 58, 180, 1);
  color: #fff;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border: none;
  flex: auto;
  &:hover {
    background-color: rgba(252, 176, 69, 1);
    color: #fff;
  }
}

.trash {
  font-size: 1.2rem;
  margin-right: 20px;
}

/* Style the list items */
ul li {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background-color: #bbb;
  color: white;
  font-size: 14px;
  transition: 0.2s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  i {
    margin-right: 0;
  }
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #b2bec3;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the trash button */
.far {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.far:hover {
  background-color: tomato;
  color: white;
}

.alert,
.error {
  font-family: "Acme", sans-serif;
  font-size: 1.5rem;
  margin: 20px;
  color: tomato;
  text-align: center;
}

.error span {
  color: #833ab4;
  text-transform: capitalize;
}

ul {
  li {
    background-color: #bbb;
    &.active {
      background-color: tomato;
    }
  }
}

.hide {
  display: none;
}
