* {
  padding: 0;
  margin: 0; }

body {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#F00000), to(#DC281E));
  background: linear-gradient(#F00000, #DC281E);
  font-family: sans-serif; }

header {
  background-color: red; }
